.upn-form,
.upn-qrcode,
.upn-string {
  padding: 15px;
}

.upn-main {
  display: flex;
}

.upn-string {
  margin: 15px;
  border: 1px black solid;
  font-family: monospace;
}

.upn-header, .upn-footer {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
