<div class="upn-header">
  <p>
    Uporaba aplikacije na lastno odgovornost!
    Pred plačilom vedno preveri pravilnost podatkov!
  </p>
</div>
<div class="upn-main">
  <div class="upn-form">
    <app-upn-form (qrCodeValueChanged)="qrCodeValueChanged($event)"></app-upn-form>
  </div>
  @if (qrCodeValue) {
    <div class="upn-string" [innerText]="qrCodeValue"></div>
  }
  <div class="upn-qrcode">
    @if (qrCodeValue) {
      <qrcode [qrdata]="qrCodeValue" [width]="256"></qrcode>
    }
  </div>
</div>
