.upn-main {
  display: flex;
}

.upn-form {
  padding: 15px;
}

.upn-qrcode {
  padding: 15px;
}

.upn-string {
  padding: 15px;
  margin: 15px;
  border: 1px black solid;
  font-family: monospace;
}
