<div class="upn-header">
  <p>
    Uporaba aplikacije na lastno odgovornost!
    Pred plačilom vedno preveri pravilnost podatkov!
  </p>
</div>
<div class="upn-main">
  <div class="upn-form">
    <app-upn-form (qrCodeValueChanged)="qrCodeValueChanged($event)"></app-upn-form>
  </div>
  <div class="upn-string" [innerText]="qrCodeValue" *ngIf="qrCodeValue"></div>
  <div class="upn-qrcode">
    <!-- <app-upn-qrcode [value]="qrCodeValue" *ngIf="qrCodeValue"></app-upn-qrcode> -->
    <qrcode [qrdata]="'initial'" [width]="256"></qrcode>
  </div>
</div>
